
.App {
  text-align: center;
  margin-top: 20px; 
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Lato';
}

#btn-create-event {
  margin-top: 280px;
  width: 250px;
}

#txt-event-name {
  width: 250px;
  margin-bottom: 10px;
}
