
.App {
  text-align: center;
  margin-top: 20px; 
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Lato';
}

#btn-create-event {
  margin-top: 280px;
  width: 250px;
}

#txt-event-name {
  width: 250px;
  margin-bottom: 10px;
}

.main-create-events {
  border-right: 1px solid darkgray;
}

header {
  margin-bottom: 10px;
}

header > h1 {
  color: cadetblue;
}

.rdt > .form-control {
  width: 250px;
}


#events {
  height: 400px;
  overflow: auto;
}
#events p {
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: lightgray;
  color: darkgreen;
}

